<div class="graphic">

	<div class="intro">
		<h2>The proliferation of Superfunds</h2>

		<p>
			Superfund sites were initially listed in batches, but since 1995, they have been approved on more of a rolling basis.
		</p>
	</div>
	<div id="proliferation-graphic-wrapper" class="graphic">
		<div id="proliferation-graphic"></div>
		<div id="proliferation-graphic-annotations"></div>
		<div id="key" class="key annotation">
			<div class="key-row">
				<div class="key-icon">
					<svg>
						<line x1="0" y1="10" x2="30" y2="10" stroke="rgba(240,200,0,.5)">
					</svg>
				</div>
				<div class="key-description">
					Each line represents a Superfund site
				</div>
			</div>
			<div class="key-row">
				<div class="key-icon">
					<svg>
						<line x1="0" y1="10" x2="30" y2="10" stroke="rgba(240,120,0,1)">
					</svg>
				</div>
				<div class="key-description">
					Sites featured in this story
				</div>
			</div>
			<div class="key-row">
				<div class="key-icon">
					<svg>
						<circle cx="15" cy="10" r="3" class="gia-deleted-dot">
					</svg>
				</div>
				<div class="key-description">
					EPA removed Superfund designation
				</div>
			</div>
		</div>
		<div id="annotation-1" class="annotation">
			<p>
				The first Superfund sites were created in 1983. Of those 406 sites, only 128 have been deleted.
			</p>
		</div>

		<div id="annotation-2" class="annotation">
			<p>
<!-- 				The areas that make up the Silicon Valley site are among more than 1,300 that have yet to be removed from the list. -->
			</p>
		</div>
	</div>
	<div class="gia-notes">
		<p>
			SOURCE: EPA <a href="http://www.epa.gov/superfund/sites/npl/status.htm">National Priorities List</a> and <a href="http://cumulis.epa.gov/supercpad/cursites/srchsites.cfm">CERCLIS database</a>
	</p>
	</div>
</div>
