<g>
	<path
		d='{{ getCurve(segment) }}'
		class='journey-{{class}}'
		outro='fade'
	/>

	{{#showDestination}}
		<circle
			intro='grow:2.5'
			outro='fade'
			class='site'
			cx='{{ data.to.x }}'
			cy='{{ data.to.y }}'
			r='{{r}}'
		/>
	{{/showDestination}}
</g>


<style>
	.journey-initial, .journey-secondary {
		fill: none;
		stroke-linecap: round;
	}

	.journey-initial {
		stroke: black;
		stroke-width: 2.5;
		stroke-opacity: 0.3;
	}

	.journey-secondary {
		stroke: black;
		stroke-width: 2.5;
		stroke-opacity: 0.3;
	}

	.site {
		fill: black;
		fill-opacity: 0.15;
		stroke: none;
	}
</style>


<script>

	var Curve, Vector;

	Curve = require( 'lib/Curve' );
	Vector = require( 'lib/Vector' );

	require( 'lib/Ractive-transitions-draw' );

	// TODO
	var grow = function ( t, radius ) {
		t.node.setAttribute( 'r', radius );
		t.complete();
	};

	component.exports = {
		debug: false,

		init: function () {
			var self = this, from, to, dx, dy, control_x, control_y, control, masterCurve;

			from = this.get( 'data.from' );
			from = new Vector( from.x, from.y );

			to = this.get( 'data.to' );
			to = new Vector( to.x, to.y );

			dx = to.x - from.x;
			dy = to.y - from.y;

			control_x = from.x + dx / 2;
			control_y = from.y + dy / 2 - Math.abs( dx ) / 30;

			control = new Vector( control_x, control_y );

			masterCurve = new Curve( from, control, to );
			this.set( 'masterCurve', masterCurve );
		},

		data: {
			arrived: false,
			t: 0,
			r: 0,

			getCurve: function ( segment ) {
				var masterCurve, curve, start, end;

				masterCurve = this.get( 'masterCurve' );
				if ( !masterCurve ) {
					return 'M0,0';
				}

				curve = masterCurve.segment( segment.start, segment.end );
				return curve.toString();
			}
		},

		transitions: {
			grow: grow
		}
	};

</script>
