.gia-interactive {
	max-width: 940px;
	margin: 3em auto 3em auto;

	h2 {
		font-family: 'Guardian Egyptian Web', Georgia, serif;
		font-size: 1.6em;
	}
}

.gia-interactive-placeholder {
	font-size: 2em;
	padding: 1em;
	background-color: #eee;
	margin: 2em 0;
}
